*{
    font-family: 'Lato', sans-serif;
    
}
main{
    background-color: rgba(180, 179, 179, 0.4);
}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    font-size: 50px;
    font-weight: 800;

}
.subtitle{
    font-size: 20px;
    margin-top: 0;
}
#img-div{
    display: flex;
    background-color: #fff;
    margin:0 20px 0 20px;
    flex-direction: column;
    align-items: center;
    
}
.img-div{
    max-width: 1000px;
    width: 70%;
}
#img-caption{
    font-size: 20px;
}
#tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.1;
}
.info-container{
    width: 700px;
}
h2{
    font-size: 25px;
}
li{
    padding: 10px;
    margin: 0;
}
.text-below{
    color: rgba(0, 0, 0, 0.7);
}
.more{
    font-size: 30px;
}